<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sdust.im.mapper.LoginMapper">
  <insert id="login" parameterType="int">
    INSERT INTO TEST VALUES (#{_param, jdbcType=VARCHAR})
  </insert>

  <select id="findUserByAccountId" parameterType="string" resultType="user">
    SELECT accountId,name,email,birth,phone,province,city,county,sex,password
    FROM USER WHERE accountId = #{_param, jdbcType=VARCHAR}
  </select>

  <select id="findMaxAccountId" resultType="string">
    SELECT accountId FROM USER ORDER BY id DESC LIMIT 1
  </select>

  <insert id="saveUser" parameterType="user">
    INSERT INTO USER (accountId,name,email,birth,phone,province,city,county,sex,password)
    VALUES (#{accountId, jdbcType=VARCHAR}, #{name, jdbcType=VARCHAR}, #{email, jdbcType=VARCHAR},
    #{birth, jdbcType=DATE},#{phone, jdbcType=VARCHAR},#{province, jdbcType=VARCHAR},
    #{city, jdbcType=VARCHAR},#{county, jdbcType=VARCHAR},#{sex, jdbcType=VARCHAR},#{password, jdbcType=VARCHAR})
  </insert>
</mapper>